<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Wikinimous</span>
  <p><%= link_to 'Make new Article', articles_new_path %></p>
</nav>
<div class="container">
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article %> <%= link_to edit_path(article) do %>
         <i class="far fa-edit"></i>
        <% end %>
        <%= link_to article_path(article), method: :delete, data: { confirm: "Are you sure you would like to delete?" } do %>
         <i class="far fa-trash-alt"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
